body {

    margin: 0;
    font-family: monospace;
    font-size: 13px;

    header {
        padding: 20px;
        background-color: #eee;
        h1 {
            margin: 0;
            opacity: 0.3;
        }
    }

    section {
        padding: 20px;
    }

    footer {
        padding: 15px;
        padding-left: 20px;
        border-top: 1px solid #eee;
    }

    form {

        & > div:not(:last-child) {
            margin-bottom: 5px;
        }

        label {
            display: inline-block;
            width: 100px;
            text-align: right;
            opacity: 0.5;
            margin-right: 10px;
        }
    }

    dl {

        padding: 10px;

        & > div:not(:last-child) {
            margin-bottom: 5px;
        }

        dt {
            display: inline-block;
            width: 100px;
            text-align: right;
            opacity: 0.5;
            margin-right: 10px;
        }

        dd {
            display: inline;
            margin: 0;
        }
    }
}
